name: daily-metrics

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:   
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # You'll need to setup a personal token in your secrets.
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: winsortf
          template: classic
          base: header, activity, community
          config_timezone: Europe/London

          # Language plugin
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          
          # Language plugin - Recently
          plugin_languages_sections: recently-used
          plugin_languages_recent_load: 400
          plugin_languages_recent_days: 14

          # Achievement plugin
          plugin_achievements: yes
          plugin_achievements_threshold: B

          # Notable contributions
          plugin_notable: yes
          plugin_notable_filter: stars:>150
          plugin_notable_repositories: yes
